@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes bgAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
body{
    font-family: "Poppins", sans-serif;
}


.animated-bg {
    background-image: url(ecommerce.jpg);
    background-size: 150% 150%;
    animation: bgAnimation 10s ease infinite;
}

.overlay {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.animate-fadeIn {
    animation: fadeIn 1s ease-in-out;
}